<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd




		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="jack"
          class="com.raylee.my_new_spring.my_new_spring.ch01.topic_1_1.Singer">
        <constructor-arg ref="song1" />
    </bean>
    <bean id="song1"
          class="com.raylee.my_new_spring.my_new_spring.ch01.topic_1_1.Song">
        <constructor-arg value="my heart will go on" />
    </bean>
    <bean id="rose"
          class="com.raylee.my_new_spring.my_new_spring.ch01.topic_1_1.Singer">
        <constructor-arg ref="song2" />
    </bean>
    <bean id="song2"
          class="com.raylee.my_new_spring.my_new_spring.ch01.topic_1_1.Song">
        <constructor-arg value="there will be" />
    </bean>

</beans>